.conteinerCategorias{
  /* border: solid red;*/
    width: 100%;
    height: 40%;
}

.conteinerCategorias .Title{
   /* border: solid yellow;*/
    color: white;
    font-size: 2vw;
    display: flex;
    align-items: end;
    padding-left: 15px;
}

.conteinerCategorias .categorias{
 /* border: solid rgb(4, 234, 0);*/
    color: white;
    display: flex;
    font-size: 1.5vw;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.conteinerCategorias .categorias a {
    text-decoration: none;
    color: white;
}

.conteinerCategorias .categorias span {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}



.conteinerCategorias .categorias .c {
 /*   border: solid blue 1px;*/
    display: flex;
    background-color: #9147FF;
    border-radius: 5px;
    padding: 5px;
}
.conteinerCategorias .categorias .c:hover
 {
    background-color: #9560e5c1;
 }

.conteinerCategorias .categorias .c a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteinerCategorias .categorias .c a svg {
   /* border: solid red 1px ;*/
    font-size:5vw;
    height: 100%;
    z-index: 1;
    position: relative;
    transform:rotate(5deg);
    right: 15px;
}


.conteinerLivesAoVivo{
  /*   border: solid blueviolet;*/
    display: flex;
    width: 99%;
    height: 100%;
}
.conteinerLivesAoVivo .conteinerDeLives {
  /*  border:  solid green 1px;*/
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    padding-left: 30px;
}

.conteinerLivesAoVivo .conteinerDeLives .card {
  /*  border: solid 1px red;*/
    width: 30%;
}

/*.conteinerLivesAoVivo .conteinerDeLives .card .card-img {
   border: solid green;
}*/

.conteinerLivesAoVivo .conteinerDeLives .card a {
    text-decoration: none;
   color: white;
}

.conteinerLivesAoVivo .conteinerDeLives .card a:hover {
    color: #9147FF;
}
